.pharma-breadcrumb{
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.add-pharma{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 12px;
}
.table-data{
    margin-top: 24px;
    
}