.firststepcard {
    height: auto;
    width: 100% !important;
    max-width: 800px;
    padding: 16px;
    margin-right: 0;
    background-color: #F9FAFB;
    border-color: #E5E7EB;
    border-radius: 8px;
    border-width: 2px;
}

.form-layout {
    display: inline-block;
    gap: 132px;
    justify-content: space-between;
    margin: 0;
}

.input-form-layout {
    width: 100% !important;
    height: 40px;
    background-color: #F9FAFB;
    border-radius: 8px;
    border-color: #E5E7EB !important;
    box-shadow: none !important;
    font-family: 'Roboto';
    color: #1F2937;
    align-items: center;
}

.input-form-layout::placeholder {
    color: #7b7e85 ;
    font-family: 'Roboto';
    font-size: 14px ;
}

.input-form-layout:hover {
    border-color: #E5E7EB !important;
    box-shadow: none !important;
}

.ant-form-item .ant-form-item-label>label {
    font-family: 'Roboto';
    font-size: 14px;
    color: #6B7280;
    font-weight: 600;
}

.gender-form-layout {
    width: 100% !important;
    height: 40px !important;
    border-radius: 8px;
}

.ant-select-single .ant-select-selector {
    color: #1F2937;
    background-color: #F9FAFB !important;
    font-size: 14px !important;
    border-color: #E5E7EB !important;
    box-shadow: none !important;
    border-radius: 8px !important;

}

.ant-select-single .ant-select-selector:hover {
    border-color: #E5E7EB;
    box-shadow: none !important;
}

.text-area-layout {
    width: 100% !important;
    background-color: #F9FAFB !important;
    border-radius: 8px;
    border-color: #E5E7EB !important;
    box-shadow: none !important;

}

.tag-symptoms-layout {
    display: flex;
    width: 340px;
    flex-wrap: wrap;
}

.tag-wrapper {
    margin-top: 12px;
    width: 340px;
    
}
.ant-steps {
  margin-bottom: 16px; /* or less */
  margin-top: -16px; /* pull up if too far from top */
}
.tag-layout {
    background-color: #E6F9EF;
    border-color: #B7E9D1;
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   cursor: pointer;
    margin-bottom: 12px;
   
}
.step-button-wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}
.submit-appointment-form{
   
    display: flex;
    margin-left: 850px;
    width: 150px;
    height: 30px;
    background-color: #25D366;
    border-radius: 8px;
    border-color: #25D366 !important;
    color: #F9FAFB;
    font-weight: 600;
    font-family: 'Roboto';

}
.submit-appointment-form:hover{
    background-color: #25D366 !important;
    color: #F9FAFB !important;
}
.dropdown-input-class{
    width: 100% !important;
    height: 40px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}