.breadcrumb-layout {
    margin-left: 12px;
    margin-top: 24px;
    padding-left: 8px;
}

.ant-breadcrumb .ant-breadcrumb-link span {
    color: #6B7280;
}

.main-layout {
    margin: 16px;
    width: 100%;

}

.appointment-button {
    width: 240px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366 !important;
    color: #F9FAFB !important;
    border-radius: 8px;
    font-weight: 600;
    border-color: #E6F9EF;
    box-shadow: none;
}
.appointment-button:hover{
    border-color: #E6F9EF !important;
    box-shadow: none !important;
}
.button-layout {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 32px;
}

.search-layout {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 24px;
    align-items: center;
}

.search-input {
    width: 300px !important;
    height: 40px !important;
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    background-color: #E6F9EF !important;
    color: #1F2937 !important;
    border-radius: 8px;


}

.search-input .ant-input {
    font-family: 'Roboto';
}

.table-data {
    margin-top: 18px;
    margin-right: 24px;
}

.column-layout {
    color: #1F2937;
    font-weight: 600;
}

.ant-table-thead>tr>th.column-layout {
    color: #6B7280;
    /* your desired green */
    font-weight: 600;
}

.other-layout {
    color: #6B7280;
}

.ant-table-thead>tr>th.other-layout {
    color: #6B7280;
    /* your desired green */
    font-weight: 600;
}

.tag-layout {
    width: 80px;
    height: 20px;
    font-family: 'Roboto';
    font-size: 12px;
   
    text-align: center;
    
}

.search-input:hover,
.search-input:focus,
.search-input-focused,
.search-input:focus-within,
.search-input.ant-input-affix-wrapper:hover,
.search-input.ant-input-affix-wrapper-focused {
    border-color: #B7E9D1 !important;
    box-shadow: none !important;
}

.pagination-tab {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    align-items: center;
}

.pagination-tab,
.ant-pagination .ant-pagination-total-text {
    font-weight: 600;
    color: #6B7280;
}

.pagination-tab h3 {
    width: 150px;
    height: 30px;
    background-color: #6B7280;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    color: #F5F5F5;
}