.prescription-button-layout{

    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
    margin-right: 24px;
    gap: 12px;

}
.tabs-layout{
    margin-top: 24px;
    display: flex;
    justify-content: center;
   
}
.tabs-layout .ant-tabs-tab{
    width: 425px;
    height: 48px;
    gap: 12px;
    border-radius: 8px;
    color:#6B7280;
    border-width: 1px !important;
    font-weight: 600;
    font-family: 'Roboto';
    border-color: #E5E7EB !important;
    background-color: #F9FAFB !important;
}
.tabs-layout .ant-tabs-tab .ant-tabs-card >.ant-tabs-nav .ant-tabs-tab-active{
    color: #F9FAFB !important;
    background-color: #6B7280 !important;
}
.tabs-layout .ant-tabs-nav .ant-tabs-tab-active{
      color: #F9FAFB !important;
    background-color: #6B7280 !important;
}
.tabs-layout  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #F9FAFB !important;
}
.each-tab{
    display: flex;
    align-items: center;
}
.prescription-tab{
    margin-top: 8px;
}
.prescription-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}
.input-color-layout{
   
    background-color: #F9FAFB;
    border-color: #E5E7EB;
    border-radius: 8px;
    border-width: 2px;
   
}
.main-freq-input{
  width: 100%;
}



/* Optional: change hover background */
.ant-select-item-option-active {
  background-color: #E6F9EF !important;
}
.ant-select-item-option-selected {
  background-color: #c1edd5 !important;
  font-weight: 500;
}
.ant-select-dropdown {
  background-color: #F9FAFB !important;
}
