.prescription-layout{
    
    margin-top: 12px;
    margin-right: 24px;
}
.file-button{
    font-size: 12px ;
    color: #F9FAFB ;
    background-color: #25D366 ;
    border-radius: 8px;
    border-color: #B7E9D1;
    width: 80px;
    font-weight: 600;
    text-align: center;
}
.file-button:hover{
    color: #6B7280 !important;
    background-color: #E6F9EF !important;
    border-color: #B7E9D1 !important;
}