.appointment-breadcrumb-layout {
    margin-left: 12px;
    margin-top: 16px;
    padding-left: 8px;
}

.appointment-layout {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 32px;
}

.button-wrapper {
    align-items: flex-start;
}

.step-button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 77%;
}